@using VacationFinder.Common
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@this.ViewData["Title"] - @GlobalConstants.SystemName</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    @*Datatables:*@
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>

    @this.RenderSection("HeadScripts", required: false)

    <environment names="Development">
        <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/css/site.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/css/admin.css" rel="stylesheet" asp-append-version="true" />
    </environment>
    <environment names="Staging,Production">
        <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/css/site.min.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/css/admin.min.css" rel="stylesheet" asp-append-version="true" />
    </environment>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">@GlobalConstants.SystemName</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Back to the site</a>
                        </li>
                        <li class="nav-dropdown" id="offer-model-dropdown">
                            <a class="nav-link text-dark">Offer Entities</a>
                            <ul class="nav-dropdown-menu" id="nav-dropdown-menu">
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="Administration" asp-controller="Tag" asp-action="Index">Tags</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="Administration" asp-controller="Transport" asp-action="Index">Transports</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="Administration" asp-controller="Country" asp-action="Index">Countries</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="Administration" asp-controller="City" asp-action="Index">Cities</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="Administration" asp-controller="Hotel" asp-action="Index">Hotels</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="Administration" asp-controller="Offer" asp-action="Index">Offers</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Administration" asp-controller="HotelReview" asp-action="Index">Hotel Reviews</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Administration" asp-controller="Order" asp-action="Index">Orders</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Administration" asp-controller="User" asp-action="Index">Users</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            @this.RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; @DateTime.Now.Year - @GlobalConstants.SystemName - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js" asp-append-version="true"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js" asp-append-version="true"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js" asp-append-version="true"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.min.js" asp-append-version="true"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>
        
    <script>
        var offerModelDD = document.getElementById("nav-dropdown-menu");

        document.getElementById("offer-model-dropdown")
            .addEventListener("click", () => {
                if (offerModelDD.style.display == "none") {
                    offerModelDD.style.display = "block";
                }
                else {
                    offerModelDD.style.display = "none";
                }
            });
    </script>

    @this.RenderSection("Scripts", required: false)
</body>
</html>
