@model IEnumerable<VacationFinder.Data.Models.City>;
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor;

@{
    ViewData["Title"] = "City";

    var routeData = new Dictionary<string, string>();
    routeData["order"] = "";
    routeData["name"] = "";
    routeData["country"] = "";
    routeData["perPage"] = "";
    foreach (var x in Context.Request.Query)
    {
        routeData[x.Key] = x.Value;
    }
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-action="Index" method="get">

    Per Page:
    <select name="perPage">
        <option value="5">5</option>
        <option value="10">10</option>
        <option value="15">15</option>
    </select>

    <input type="hidden" name="order" value="@routeData["order"]" />
    <input type="hidden" name="name" value="@routeData["name"]" />
    <input type="hidden" name="country" value="@routeData["country"]" />
    <button class="btn btn-primary" type="submit">Paginate</button>

    <a class="btn btn-primary" asp-action="Index">
        Clear
    </a>
</form>

<form asp-action="Index" method="get">
    <label for="name">Name:</label>
    <input type="text" name="name" />

    <label for="country" class="control-label"></label>
    <select for="country" name="country" class="form-control">
        <option></option>
        @foreach (var country in ViewBag.Countries)
        {
            <option value="@country.Id">@country.Name</option>
        }
    </select>

    <input type="hidden" name="perPage" value="@routeData["perPage"]" />
    <input type="hidden" name="order" value="@routeData["order"]" />

    <button class="btn btn-primary" type="submit">Filter</button>
</form>


<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index"
                   asp-all-route-data="@routeData"
                   asp-route-order="name">
                    @Html.DisplayNameFor(model => model.Name)
                </a>
            </th>
            <th>
                <a asp-action="Index"
                   asp-all-route-data="@routeData"
                   asp-route-order="country">
                    @Html.DisplayNameFor(model => model.Country)
                </a>
            </th>
            <th>
                <a asp-action="Index"
                   asp-all-route-data="@routeData"
                   asp-route-order="createdOn">
                    @Html.DisplayNameFor(model => model.CreatedOn)
                </a>
            </th>
            <th>
                <a asp-action="Index"
                   asp-all-route-data="@routeData"
                   asp-route-order="modifiedOn">
                    @Html.DisplayNameFor(model => model.ModifiedOn)
                </a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Country.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedOn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ModifiedOn)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>


@{
    int currentPage = 1;
    var perPage = HttpContextAccessor.HttpContext.Request.Query["perPage"];


    try
    {
        currentPage = int.Parse(HttpContextAccessor.HttpContext.Request.Query["page"]);
    }
    catch { }
}

<div class="paginationUrls">
    @if (currentPage > 1)
    {
        <a class="pageButtons"
           asp-action="Index"
           asp-all-route-data="@routeData"
           asp-route-order="@Context.Request.Query["order"]"
           asp-route-page="1">
            first
        </a>
        <a class="pageButtons"
           asp-action="Index"
           asp-all-route-data="@routeData"
           asp-route-order="@Context.Request.Query["order"]"
           asp-route-page="@(currentPage - 1)">
            previous
        </a>

    }
    <div class="currentPage">
        @currentPage
    </div>
    @if (currentPage < ViewBag.Pages)
    {

        <a class="pageButtons"
           asp-action="Index"
           asp-all-route-data="@routeData"
           asp-route-order="@Context.Request.Query["order"]"
           asp-route-page="@(currentPage + 1)">
            next
        </a>
        <a class="pageButtons"
           asp-action="Index"
           asp-all-route-data="@routeData"
           asp-route-order="@Context.Request.Query["order"]"
           asp-route-page="@ViewBag.Pages">
            last
        </a>
    }
</div>