@model VacationFinder.Web.ViewModels.Offer.OfferViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-sm-12">
        <div id="offer-header">
            <img src="@Model.Hotel.ImageUrl" class="hotel-image
                @if (Model.IsSpecial)
             {
                 @:special-offer
             }" />
            <h4 id="offer-title">@Model.Title</h4>
        </div>

        <div id="offer-panel-selector">
            <a id="details-menu" class="offer-panel-option offer-panel-option__active">Details</a>
            <a id="images-menu" class="offer-panel-option">Images</a>
            <a id="signup-menu" class="offer-panel-option">Get it</a>
        </div>

        <div id="offer-panel-details">
            <div id="offer-panel-info">
                <p>
                    @Model.Days
                    <span class="icon-radio-unchecked"></span>/
                    @Model.Nights
                    <span class="icon-contrast"></span>
                </p>
                <p>Hotel: @Model.Hotel.Name</p>
                <p>Transport: @Model.Transport.Title</p>
                <p>Tag: @Model.Tag.Title</p>
            </div>
            @Html.Raw(Model.Description)
            @Html.Raw(Model.Hotel.Description)
        </div>

        <div id="offer-panel-images" style="display:none;">
            @foreach (var image in Model.OfferImages)
            {
                <img src="@image.ImageUrl" class="offer-image" />
            }
        </div>

        <div id="offer-panel-signup" style="display:none;">
            <form method="post" asp-controller="Order" asp-action="Create">
                <p>Please enter a valid email and we will send you a messege when your application is approved.</p>

                <input type="email" value="" name="email" />
                <input type="hidden" value="@Model.Id" name="OfferId" />

                <button type="submit">Sign up</button>
            </form>
        </div>
    </div>
</div>

@section Styles
{
    <link href="~/css/offer/details.css" rel="stylesheet" />
}

@section Scripts
{
    <script>
        var details = document.getElementById("offer-panel-details");
        var images = document.getElementById("offer-panel-images");
        var signup = document.getElementById("offer-panel-signup");
        var detailsMenu = document.getElementById("details-menu");
        var imagesMenu = document.getElementById("images-menu");
        var signupMenu = document.getElementById("signup-menu");

        detailsMenu.addEventListener("click", () => {
            details.style.display = "block";
            images.style.display = "none";
            signup.style.display = "none";
            detailsMenu.classList.add("offer-panel-option__active");
            imagesMenu.classList.remove("offer-panel-option__active");
            signupMenu.classList.remove("offer-panel-option__active");
        })

        imagesMenu.addEventListener("click", () => {
            details.style.display = "none";
            images.style.display = "block";
            signup.style.display = "none";
            detailsMenu.classList.remove("offer-panel-option__active");
            imagesMenu.classList.add("offer-panel-option__active");
            signupMenu.classList.remove("offer-panel-option__active");
        })

        signupMenu.addEventListener("click", () => {
            details.style.display = "none";
            images.style.display = "none";
            signup.style.display = "block";
            detailsMenu.classList.remove("offer-panel-option__active");
            imagesMenu.classList.remove("offer-panel-option__active");
            signupMenu.classList.add("offer-panel-option__active");
        })
    </script>
}
